# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Visual Studio Code
.vscode/
*.code-workspace

# IntelliJ IDEA / JetBrains IDEs
.idea/
*.iml
out/